@font-face {
  font-family: "Jua";
  src: url("../../assets/fonts/Jua-Regular.ttf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Jellee";
  src: url("../../assets/fonts/Jellee-Roman.ttf") format("opentype"),
    url("../../assets/fonts/Jellee-Roman.woff") format("woff");
  font-weight: 400;
}
