//Primary Brand Colors
$White: #ffffff;
$Apricot: #ffdda8;
$Dusty-Rose: #d66a6a;
$Oasis: #ffecd4;
$Peach-Puff: #f7d4c4;
$Apple-Blossom: #a24444;
$Elusive-Dawn: #d7bdb1;
$Eastern-Spice: #dda781;
$Incubus: #762525;
$Burnt-Sienna: #e6977e;
$Rose: #e38880;
