@use "../styles/partials/variables" as *;
@use "../styles/partials/mixins" as *;
@use "../styles/partials/typograhy" as *;

.landing-page {
  &__hero {
    padding: 10px 10px 0 10px;
    min-height: 508px;
    height: 159dvw;
    width: 100%;
    background-image: url("../assets/backgrounds/Hero-background.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include Desktop {
      background-color: $Oasis;
      background-image: none;
      min-height: 605px;
      height: unset;
      padding: 20px 0px 20px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-left-container {
      @include Desktop {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    &-logo {
      width: 78%;
      height: 30%;

      @include Desktop {
        width: 89%;
        height: 23%;
        transform: rotate(-7deg);
      }
    }
    &-stickers {
      width: 62%;
      height: auto;

      &-container {
        width: 100%;
        display: flex;
        justify-content: flex-end;

        @include Desktop {
          display: none;
        }
      }
    }
    &-text-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      width: 64%;

      @include Desktop {
        min-width: 530px;
        min-height: 350px;
        background-image: url("../assets/backgrounds/Hero-text-Background.svg");
        gap: 50px;
        align-items: center;
        justify-content: flex-end;
        padding: 4% 0;

        background-repeat: no-repeat;
        background-size: cover;
      }

      @include Four-k {
        min-height: 540px;
      }
    }
    &-title {
      @include SubHeader;
      color: $Burnt-Sienna;
      text-align: center;
      line-height: 100%;
      width: 100%;

      @include Desktop {
      }
    }
    &-button {
      background-color: $White;
      border: none;
      border-radius: 15px;
      padding: 20px 25px;
      color: $Rose;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      @include Body;
      font-family: Jellee;
    }
    &-image {
      display: none;
      @include Desktop {
        display: flex;
        min-height: 500px;
        min-width: 400px;
        width: 40%;
        height: auto;
      }
    }
  }
}

.whats-new {
  background-image: url("../assets/backgrounds/NewArrival-Background.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  gap: 20px;

  @include Desktop {
    background-image: url("../assets/backgrounds/NewArrival-Background-Desktop.svg");
  }

  &__title {
    color: $Burnt-Sienna;
    text-align: center;
    @include Title;
    text-transform: uppercase;
  }

  &__cards {
    display: flex;
    width: 100%;
    min-height: 380px;
    justify-content: center;
    padding: 20px;
  }

  &__card {
    position: relative;
    height: 350px;
    border-radius: 30px;
    border: 3px solid $White;
    background: $White;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    @include Desktop {
      border: unset;
      display: flex;
      flex-direction: row-reverse;
      overflow: hidden;
      min-width: 800px;
      width: 63dvw;
      min-height: 450px;
      height: 35.7dvw;

      max-width: 900px;
      max-height: 500px;
    }

    &-image {
      height: 100%;
      width: 100%;
    }
    &-image-container {
      height: 100%;
      border-radius: 30px;
      border: 1px solid $White;
      overflow: hidden;

      @include Desktop {
        border-radius: unset;
        width: 50%;
      }
    }
    &-bottom {
      position: absolute;
      z-index: 2;
      bottom: 0%;
      border-radius: 0px 0px 30px 30px;
      background: rgba(255, 255, 255, 0.75);

      width: 100%;
      height: 122.808px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;

      @include Desktop {
        position: unset;
        height: 100%;
        width: 50%;
        gap: 20px;
      }
    }

    &-text {
      color: $Burnt-Sienna;
      text-align: center;
      @include SubHeader;
      text-transform: uppercase;
    }

    &-price {
      display: none;

      @include Desktop {
        display: block;
        color: $Burnt-Sienna;
        @include SubHeader;
      }
    }

    &-button {
      border-radius: 15px;
      background: $White;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      border: none;

      color: $Burnt-Sienna;
      @include Body;
      text-align: center;
      font-family: Jellee;
      text-transform: uppercase;

      padding: 15px 10px;
      @include Desktop {
        padding: 20px;
      }
    }
  }

  &__dots {
    width: 100px;
    height: 26px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    &-button {
      width: 26.635px;
      height: 26.635px;
      flex-shrink: 0;
      border-radius: 26.635px;
      border: 5px solid $Burnt-Sienna;
      background: $White;

      &--active {
        background: $Burnt-Sienna;
      }
    }
  }
}

.subscription {
  background-image: url("../assets/backgrounds/SubscriptionWallpaper.svg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 898px;
  width: 100%;
  padding: 45px 0;

  @include Desktop {
    background-image: url("../assets/backgrounds/Monthly-Background-Desktop.png");
    justify-content: center;
    height: 60dvw;
  }

  @include Four-k {
    background-image: url("../assets/backgrounds/Monthly-Background-Fourk.png");
  }

  &__container {
    padding: 50px 15px;
    width: 90%;
    max-width: 340px;
    height: 450px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    @include Desktop {
      max-width: 900px;
      gap: 20px;
      padding: 25px 100px;
      height: 320px;
    }

    @include Four-k {
      height: 500px;
    }

    &-title {
      color: $Burnt-Sienna;
      text-align: center;
      text-transform: uppercase;

      @include Title;
    }

    &-text {
      color: $Dusty-Rose;
      text-align: center;
      text-transform: uppercase;
      @include Body;
      font-family: Jellee;

      @include Desktop {
        text-transform: unset;
        @include Body;
      }
    }

    &-button {
      padding: 20px;
      flex-shrink: 0;
      border: none;
      border-radius: 10px;
      background: $White;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);

      color: $Dusty-Rose;
      text-align: center;
      @include SubHeader;
      text-transform: uppercase;
    }
  }
}

.about {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 4.65%;
  gap: 30px;

  @include Desktop {
    gap: 50px;
  }
  &__header {
    @include Desktop {
      width: 100%;
      max-width: 1400px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    @include Four-k {
      max-width: 2000px;
    }
  }
  &__title {
    color: $Dusty-Rose;
    @include Title;
    text-transform: uppercase;

    @include Desktop {
      display: none;
      min-width: 410px;
      max-width: 410px;
    }

    @include Four-k {
      max-width: 550px;
    }

    &--alt {
      display: none;
      @include Desktop {
        display: block;
        width: 50%;
      }
    }
  }

  &__image {
    display: none;

    @include Desktop {
      display: block;
      width: 40%;
      height: auto;
    }
  }

  &__containers {
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include Desktop {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      max-width: 1400px;
    }

    @include Four-k {
      max-width: 2000px;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include Desktop {
      height: 240px;
    }

    @include Four-k {
      height: 535px;
      align-items: center;
    }
  }
  &__subheader {
    color: $Dusty-Rose;
    text-align: center;
    font-family: Jellee;
    @include SubHeader;
    text-transform: uppercase;
    max-width: 320px;

    @include Four-k {
      max-width: 850px;
    }
  }

  &__text {
    color: $Burnt-Sienna;
    text-align: center;
    @include Body;
    text-transform: capitalize;
    max-width: 320px;

    @include Four-k {
      max-width: 450px;
    }
  }
}

.news-letter {
  width: 100%;
  display: flex;
  min-height: 600px;
  height: 65dvh;
  flex-direction: column;
  background-image: url("../assets/backgrounds/NewsLetterBackground.svg");
  background-size: cover;
  padding: 4.65%;
  align-items: center;
  justify-content: center;
  gap: 10%;

  @include Tablet {
    background-image: url("../assets/backgrounds/NewsLetterBackground-Desktop.svg");
    height: 56dvw;
  }

  &__title {
    color: $Dusty-Rose;
    text-align: center;
    text-transform: uppercase;
    @include Title;
  }

  &__text {
    max-width: 824px;
    color: $Dusty-Rose;
    text-align: center;
    text-transform: uppercase;
    @include SubHeader;

    font-family: Jua;

    @include Desktop {
      width: 76%;
      font-family: Jellee;
    }

    @include Four-k {
      max-width: 1200px;
    }
  }

  &__form {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: $White;
    align-items: center;
    border-radius: 25px;
    padding: 10px;
    justify-content: space-evenly;

    @include Desktop {
      width: 470px;
    }

    @include Four-k {
      width: 560px;
    }

    &-input {
      border: none;
      width: 80%;
      height: 100%;
      background-color: transparent;

      color: $Dusty-Rose;
      @include SubHeader;

      outline: none;

      &::placeholder {
        color: $Dusty-Rose;
        text-align: center;
        @include SubHeader;

        text-transform: uppercase;
      }
    }

    &-button {
      width: 52px;
      height: 52px;
      flex-shrink: 0;
      border: none;
      border-radius: 50%;
      background-color: $Dusty-Rose;
    }

    &-image {
      width: 38px;
      height: 38px;
      flex-shrink: 0;
    }
  }
}
